.box {
    width: 200px;
    height: 200px;
    margin: 10px 0;
    background: #eee;
    text-align: center;
    padding: 20px;
}



/* AULA 04-02
ul {
    padding: 0;
}

li {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px 0;
    background: #eee;
    border: 1px dotted #ddd;
}




/* NÃO LEMBRO A AULA KKKK

.error {
    padding: 10px;
    color: red;
    border: 1px dotted crimson;
}

.success {
    padding: 10px;
    color: green;
    border: 1px dotted green;
}
*/