<<<<<<< HEAD
/* AULA 03-03 - Eventos de clique  */
=======
.box {
    width: 200px;
    height: 200px;
    margin: 10px 0;
    background: #eee;
    text-align: center;
    padding: 20px;
}



/* AULA 04-02
>>>>>>> ba9ef8d807df3f48d93eb44bc07b52c18453043f
ul {
    padding: 0;
}

<<<<<<< HEAD
li{
=======
li {
>>>>>>> ba9ef8d807df3f48d93eb44bc07b52c18453043f
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px 0;
    background: #eee;
    border: 1px dotted #ddd;
}

<<<<<<< HEAD





/* NÃO LEMBRO A AULA KKKK

.error {
    padding: 10px;
    color: red;
    border: 1px dotted crimson;
}

.success {
    padding: 10px;
    color: green;
    border: 1px dotted green;
}
=======
>>>>>>> ba9ef8d807df3f48d93eb44bc07b52c18453043f
*/