

.popup-wrapper {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
}


.myh2 {
    background: yellow;
    font-weight: bold; 
    width: 50%;
    padding: 1%;
    margin: .5em auto;
    
}

.hidden {
    display: none;
}
