* {
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.bg-primary {
    background-color: #8CA8FF !important;
}

.myh2 {
    border-radius: 70px;
    border-spacing: 50px;
}